.todoItemWrapper {
    background-color: rgba(15, 15, 15, 0.925);
    border: none;
    margin-right: -1rem;
    padding: 0.1rem;
    transition: opacity 0.5s ease;
    z-index: 999;
    min-width: 400px;

    .todoItem {
        margin-left: 0.5rem;
        margin-right: 0.5rem;
    }
}


