@import url('https://fonts.googleapis.com/css?family=Fira+Mono|Josefin+Sans&display=swap');

.weatherWrapper {
    font-family: 'Fira Mono', 'Helvetica', sans-serif;
    font-size: 1rem;
    font-weight: 400;
    position: absolute;
    right: 1rem;
    text-align: center;
    top: 0;
    text-shadow: rgb(50, 50, 50) 0px 0px 15px;
}

#icon {
    color: #fff;
    display: inline-block;
    width: 100%;
    text-align: center;
    font-size: 3em;
    padding: 0.2em;
}

.country-flag {
    height: 1rem;
    margin-left: 0.3rem;
}

.card-text {
    margin-top: -0.2rem;
}

.weeklyBtn {
    background: transparent;
    border: 1px solid #fff;
    color: #ffffff;
    cursor: pointer;
    padding: 5px 15px;
    border-radius: 3px;
    outline: none;
}

.weeklyBtn:hover {
    border: 1px solid #ffffff;
    background: rgb(50, 50, 50);
}

.forecastWrapper {
    display: flex;
    flex-direction: row;
    float: left;
    align-content: space-between;
    background-color: rgba(14, 15, 16, 0.93);
    color: #fff;
    margin-right: -15px;
    margin-left: -30rem;
    top: 0;
}

.weatherCard {
    display: flex;
    flex-direction: column;
    padding: 0.6rem;
}

h3.weekDay {
    margin-bottom: -10px;
}

p.min, p.max {
    font-family: 'Fira Mono', sans-serif;
    margin: 0.3rem;
    font-size: 1rem;
    font-weight: 300;
}

.card-text {
    margin-top: 0.3rem;
}

@media only screen and (max-width: 984px) {
    .weatherWrapper {
        font-size: 0.5rem;
        font-weight: 300;
    }

    .forecastWrapper {
        font-size: 0.6rem;
        margin-right: -10px;
        margin-left: -48rem;
    }

    .weatherCard {
        padding: 0.5rem;
    }

    .weeklyBtn {
        padding: 3px 8px;
        font-size: 0.5rem;
    }
}

@media only screen and (max-width: 896px) {
    .weatherWrapper {
        font-size: 0.3rem;
        font-weight: 300;
    }

    .forecastWrapper {
        font-size: 0.4rem;
        margin-right: -10px;
        margin-left: -20rem;
    }

    .weatherCard {
        font-size: 0.4rem;
        padding: 5px;
    }

    #icon {
        font-size: 20px;
    }

    p.minMax {
        font-size: 0.4rem;
        font-weight: 300;
    }

    .weeklyBtn {
        padding: 3px 8px;
        font-size: 0.5rem;
    }

    .country-flag {
        height: 0.5rem;
    }

}

@media only screen and (max-width: 456px) {
    .weatherWrapper {
        font-size: 0.2rem;
    }

    .forecastWrapper {
        margin-right: -5px;
        margin-left: -16rem;
    }

    .weatherCard {
        font-size: 0.2rem;
        padding: 1px;
    }

    .weeklyBtn {
        font-size: 0.3rem;
        padding: 1px 5px;
    }

    p.minMax {
        font-size: 0.3rem;
    }

    h3.weekDay {
        margin-bottom: -5px;
    }

}