@import url('https://fonts.googleapis.com/css?family=Fira+Mono|Josefin+Sans&display=swap');

.weatherWrapper {
    font-family: 'Fira Mono', 'Helvetica', sans-serif;
    font-size: 1rem;
    font-weight: 400;
    position: absolute;
    right: 1rem;
    text-align: center;
    top: 0;
    text-shadow: rgb(50, 50, 50) 0px 0px 15px;
}

#icon {
    color: #fff;
    display: inline-block;
    width: 100%;
    text-align: center;
    font-size: 3em;
    padding: 0.2em;
}

.country-flag {
    height: 1rem;
    margin-left: 0.3rem;
}

.card-text {
    margin-top: -0.2rem;
}

.weeklyBtn {
    background: transparent;
    border: 1px solid #fff;
    color: #ffffff;
    cursor: pointer;
    padding: 5px 15px;
    border-radius: 3px;
    outline: none;
}

.weeklyBtn:hover {
    border: 1px solid #ffffff;
    background: rgb(50, 50, 50);
}

.forecastWrapper {
    display: flex;
    flex-direction: row;
    float: left;
    align-content: space-between;
    background-color: rgba(14, 15, 16, 0.93);
    color: #fff;
    margin: 0;
    top: 0;
}

.weatherCard {
    display: flex;
    flex-direction: column;
    padding: 0.6rem;
}

h3.weekDay {
    margin-bottom: -10px;
}

p.min, p.max {
    font-family: 'Fira Mono', sans-serif;
    margin: 0.3rem;
    font-size: 1rem;
    font-weight: 300;
}

.card-text {
    margin-top: 0.3rem;
}

.close-thick {
    background-color: transparent;
    border: none;
    color: #fff ;
    font: 18px/100% 'Fira Mono', sans-serif;
    position: absolute;
    right: 5px;
    text-decoration: none;
    text-shadow: 0 1px 0 #777;
    top: 5px;
}

.close-thick:after {
    content: '✖'; /* UTF-8 symbol */
}

.close-thick:hover {
    color: red;
}