@import url('https://fonts.googleapis.com/css?family=Josefin+Sans');
.clockBox {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex: 1;
    text-align: center;
    justify-content: center;
    margin-top: -5.5rem;
}

.clockHours,
.clockMinutes,
.clockSeconds,
.clockAmOrPm {
    display: flex;
    flex-flow: wrap;
    justify-content: center;
    margin: 0 0.1rem -2.5em 0.1rem;
    /* fonts */
    color: #fff;
    font-family: 'Josefin Sans', 'Arial', sans-serif;
    font-size: 6em;
    text-shadow: 0 0 25px #000;
}

.am-pm {
    display: flex;
    flex-flow: wrap;
    align-items: center;
    justify-content: center;
    margin-top: 9.4rem;
}

/* Media Queries for properly resizing the Clock Component*/

@media screen and (min-width:321px) and (max-width:639px) {
    .clockHours,
    .clockMinutes,
    .clockSeconds,
    .clockAmOrPm {
        display: flex;
        letter-spacing: 0.2em;
        text-align: center;
        font-size: 3em;
        flex: 1;
        margin: 0.5rem auto;
    }
    .am-pm {
        margin-left: 0.6em;
        margin-top: 5rem;
        font-size: 1.5em;
    }
}

@media screen and (min-width:640px) and (max-width:959px) {
    .clockHours,
    .clockMinutes,
    .clockSeconds,
        {
        display: flex;
        flex: 1;
        text-align: center;
        font-size: 1em;
        margin: 1rem auto;
        padding-bottom: 2rem;
    }
}