@import url('https://fonts.googleapis.com/css?family=Josefin+Sans');

.clockBox {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  flex: 1;
  text-align: center;
  justify-content: center;
}

.clockHours,
.clockMinutes,
.clockSeconds,
.clockAmOrPm
{
  display: flex;
  flex-flow: wrap;

  margin: 0 0.1rem -2.5em 0.1rem;

  /* fonts */
  color: #fff;
  font-family: 'Josefin Sans', 'Arial', sans-serif;
  font-size: 4em;
  text-shadow: 0 0 25px #000;
}

h1.am-pm {
  margin-top: 7.5rem;
  font-size: 1.3em;
}
