@import url('https://fonts.googleapis.com/css?family=Josefin+Sans');

.clockBox {
    display: flex;
    align-items: center;
    justify-content: center;
}

.clockHours,
.clockMinutes,
.clockSeconds,
.clockAmOrPm {
    display: flex;
    align-items: center;
    justify-content: center;
    /* fonts */
    color: #fff;
    font-family: 'Josefin Sans', 'Arial', sans-serif;
    font-size: 4rem;
    text-shadow: 0 0 25px #000;
}

.am-pm {
    display: flex;
    flex-flow: wrap;
    align-items: center;
    justify-content: center;
    margin-top: 6.5rem;
    margin-left: 0.3rem;
}



@media only screen and (max-width: 600px) {
    .clockHours,
    .clockMinutes,
    .clockSeconds,
    .clockAmOrPm {
        font-size: 2rem;
        margin-top: 25%;
        padding: 0;   
    }
    .am-pm {
        margin-top: 3.2rem;
    }
  }