.focusSection {
    height: 4rem;
    text-align: center;
}

.focusInner {
    color: white;
    text-align: center;
    display: inline-block;
    max-width: 720px;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 14px;
}

.askFocus {
    margin-top: -5rem;
    font-size: 3em;
    font-weight: 300;
    letter-spacing: -0.1em;
}

.focusInput {
    height: 1rem;
    width: 80%;
    padding: 1rem;
    font-weight: 600;
    font-size: 1.4em;
    background: rgba(255, 255, 255, 0.1);
    border-top: none;
    border-left: none;
    border-right: none;
    color: white;
}

.focusInput::placeholder {
    color: white;
    opacity: 1;
}

.focusInput:focus {
    outline-width: 0;
}

.focusResult {
    margin-top: -15%;
    list-style-type: none;
    font-size: 1.3rem;
}

.addItem {
    color: white;
    margin-left: 0.8rem;
    width: 35px;
    height: 25px;
    font-size: 1.5rem;
    font-weight: 800;
    background-color: transparent;
    border: none;
}

.deleteItem {
    margin-left: 1.5em;
    background-color: rgb(145, 145, 145);
    border: none;
    border-radius: 5px;
    color: white;
    font-weight: 700;
    font-size: 0.9rem;
}

.singleListItem:first-child {
    margin-top: 20%;
    font-size: 1.5rem;
    font-weight: 400;
}

li:nth-of-type(1n+4) {
    display: none;
}

.focus-list-message {
    padding: 0 25px 0 25px;
}

.checkbox {
    width: 15px;
    height: 15px;
    font-size: 20px;
    display: none;
}

.close {
    position: relative;
    bottom: 4px;
    width: 15px;
    height: 15px;
    font-size: 12px;
    display: none;
}

.focus-section:hover .checkbox,
.focus-section:hover .close {
    display: inline-block;
}

.finished {
    text-decoration: line-through;
}