.focus-section {
  margin: 1em 0;
}

.focus {
  color: white;
  text-align: center;
  display: inline-block;
  width: 720px;
  text-shadow: 0 0 25px #000;
}

.ask-focus {
  font-size: 2em;
  margin-bottom: 0.5em;
}

#focus-input {
  padding-top: 12px;
  padding-bottom: 12px;
  font-weight: 700;
  width: 720px;
  border-radius: 5px;
  font-size: 1.8em;
  background: rgba(255, 255, 255, 0.1);
  border-bottom: 1px solid white;
}

#focus-input:focus {
  border: 1px solid rgba(255, 255, 255, 0.1);
  outline: 0;
}

/* Working CSS When Todo will be Implemented*/
.focus-list {
  height: 100px;
  padding: 1em;
  font-size: 2em;
  font-weight: 700;
  display: none;
  line-height: 1.5;
  -webkit-animation: fadein 1s; /* Safari, Chrome and Opera > 12.1 */
     -moz-animation: fadein 1s; /* Firefox < 16 */
      -ms-animation: fadein 1s; /* Internet Explorer */
       -o-animation: fadein 1s; /* Opera < 12.1 */
          animation: fadein 1s;
}

@-webkit-keyframes fadein {
  from {
      opacity: 0;
  }
  to {
      opacity: 1;
  }
}

@keyframes fadein {
  from {
      opacity: 0;
  }
  to {
      opacity: 1;
  }
}

.focus-list-message {
  padding: 0 25px 0 25px;
}

.checkbox {
  width: 15px;
  height: 15px;
  font-size: 20px;
  display: none;
}

.close {
  position: relative;
  bottom: 4px;
  width: 15px;
  height: 15px;
  font-size: 12px;
  display: none;
}

.focus-section:hover .checkbox,
.focus-section:hover .close {
  display: inline-block;
}

.finished {
  text-decoration: line-through;
}