@import url('https://fonts.googleapis.com/css?family=Josefin+Sans:400,700&display=swap');

.greetingTextWrapper.row {
  /* fonts */
  font-family: 'Josefin Sans', 'Arial', sans-serif;
  font-size: 2.5rem;
  text-shadow: 0 1px 5px rgba(0,0,0,.1);
  margin-top: -90px;
}

.greetingText {
  align-items: center;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  text-align: center;
} 


@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 480px) {
  .greetingTextWrapper.row {
    font-size: 1rem;
    margin-top: 0;
  }
}

