.greetingTextWrapper.row {
  /* fonts */
  font-family: 'Josefin Sans', 'Arial', sans-serif;
  font-size: 2.5rem;
  text-shadow: 0 0 25px #000;
  margin-top: -90px;
}

.greetingText {
  align-items: center;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  text-align: center;
} 


@media only screen and (max-width: 600px) {
  .greetingTextWrapper.row {
    font-size: 2rem;
    margin-top: 0;
  }
  .greetingText {
      margin-top: 0;
  }
}