@import url('https://fonts.googleapis.com/css?family=Fira+Mono&display=swap');

.quoteContainer {
  margin: 0 auto;
}

.quoteWrapper {
  position: fixed;
  left: 50%;
  bottom: 0px;
  transform: translate(-50%,-3%);
/*font customization*/
  color: rgba(255, 255, 255, .9);
  line-height: 1.2;
  font-family: 'Fira Mono', monospace;
  font-size: 0.9em;
  font-weight: 700;
  text-align: center;
  text-shadow: rgb(50, 50, 50) 0px 0px 10px;
}

p.text-author-name {
  margin-top: -8px;
}

.refresh-btn {
  background-color: #1b1b1d;
  border: 1px solid transparent;
  border-radius: 3px;
  color: #fff;
  cursor: pointer;
  font-size: 0.6rem;
  padding: 5px 15px;
  margin-bottom: 0.8rem;
  margin-top: -0.2rem;
  outline: none;
}

.refresh-btn:hover {
  background-color: #a1a1a1;
  border: 1px solid #fff;
  color: #fff;
}

.refresh-btn:after {
  transform: translateX(-50%)scaleY(1)scaleX(1.45);
}

.socialBtn {
  font-size: 0.5rem;
  background-color: #fff;
  border-radius: 15%;
  border: none;
  margin-top: -0.3rem;
  margin-right: 0.3rem;
  cursor: pointer;
  padding: 0.2rem;
}

.fa-facebook-square {
  color: #87b2e6;
  width: 20px;
  margin: 0 auto;
}

.fa-reddit {
  color: #ff6a33;
  margin: 0 auto;
  width: 20px;
}

.fa-tumblr {
  color: #a8c2d6;
  margin: 0 auto;
  width: 20px;
}

.fa-twitter {
  color: #6bb9f0;
  margin: 0 auto;
  width: 20px;
}


@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 480px) {
  .quoteWrapper {
    font-size: 0.5rem;
    bottom: 0px;
  }
}