@import url('https://fonts.googleapis.com/css?family=Josefin+Sans');


.page {
  display: flex;
  flex-direction: column;
  align-items: center;
}


.grid-container {
  width: 100%;
  margin-top: 50px;
  display: grid;
  text-shadow: 0 0 25px rgba(0,0,0,0.3);
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 3fr 1fr 1fr;
  grid-gap: 10px;
  grid-template-areas:
    "quote quote quote"
    ". author author"
    "btn . tweet";
  font-size: 1.3em;
  text-shadow: 0 0 25px rgba(0,0,0,0.3);
}

.text-container {
  grid-area: quote;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 25px 0 30px;
  font-size: 1em;
  text-shadow: 0 0 25px rgba(0,0,0,0.3);
  line-height: 150%;
}

.author-container {
  grid-area: author;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-right: 35px;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 0.8em;
  text-shadow: 0 0 25px rgba(0,0,0,0.3);
}

.twitter-link-container {
  grid-area: tweet;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 0px 20px 0;
}

.fab {
  font-size: 1.5em;
}

.new-quote-btn {
  margin: 0 0 20px 20px;
  grid-area: btn;
  font-weight: bold;
}

.credit {
  font-weight: normal;
  margin-top: 25px;
}


@media screen and (min-width: 768px) {
  .grid-container {
    margin-top: 125px;
    max-width: 500px;
  }
}
