.todoItemWrapper {
    background-color: rgba(15, 15, 15, 0.925);
    border: none;
    margin-right: -1rem;
    max-width: 20rem;
    padding: 1px;
    transition: opacity 0.5s ease;
    z-index: 20;
}