.weatherWrapper {
    position: absolute;
    right: 0.5rem;
    text-align: center;
    top: 0;
}

#icon {
    color: #fff;
    display: inline-block;
    width: 100%;
    text-align: center;
    font-size: 3em;
    padding: 0.2em;
}

h5 {
    font-weight: 700;
} 