.container {
    position: relative;
}
.weatherWrapper {
    position: absolute;
    top: 0;
    right: -50%;
    text-align: center;
}

#icon {
    color: #fff;
    display: inline-block;
    width: 100%;
    text-align: center;
    font-size: 3em;
    padding: 0.2em;
}
