@import url('https://fonts.googleapis.com/css?family=Josefin+Sans:400&display=swap');

.greetingTextWrapper.row {
  margin-top: -110px;
}

.greetingText {
  align-items: center;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  text-align: center;
  /* fonts */
  font-family: 'Josefin Sans', 'Arial', sans-serif;
  font-size: 3.5rem;
  font-weight: 400;
  text-shadow: rgb(50, 50, 50) 0px 0px 10px;
} 


@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 480px) {
  .greetingTextWrapper.row {
    margin-top: 0;
  }
  .greetingText {
    font-size: 1rem;
  }
}

