* {
    box-sizing: border-box;
    line-height: 1.15;
    -webkit-text-size-adjust:100%;
}

html {
    height: 100vh;

    body {
        background: #fff;
        color: #fff;
        min-height: 100%;
        margin: 0;
        /*hide scrollbar*/
        overflow: hidden;
        /*Positioning*/
        display: flex;
        align-items: center;
        justify-content: center;
        /* Let's center and scale the image nicely */
        background: url('https://source.unsplash.com/collection/632843/1920x1280'), //UNSPLASH minimalist collection 
        url('./img/overlay-vignette.png');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        /* Special Effects */
        background-blend-mode: screen multiply;
        backdrop-filter: saturate(275%) contrast(50%);
        text-shadow: rgb(50, 50, 50) 0px 0px 10px;
    }

}

