* {
  box-sizing: border-box;
}

/* =============================== MAIN BODY =============================== */
body, html {
  height: 100%;
  overflow: hidden; /*hide scrollbar*/
}

body {
  height: 100vh;
  width: 100vw;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: center;
  justify-content: center;
  /* Let's center and scale the image nicely */
  background-image: url('https://source.unsplash.com/category/nature/1920x1080');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  /* fonts */
  font-family: 'Josefin Sans', 'Arial', sans-serif;
  color: #fff;
}

